# Finder's settings file (Mac).
.DS_Store

# Node.js modules.
node_modules/

# NPM's lockfile.
package-lock.json

# Log files.
*.log
*.log.*

# Generated sources & type definitions.
dist/
index.js
index.d.ts
